/workspace.code-workspace
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vscode/launch.json
.vs/WildBootTest.jl/v16/.suo
voters.dta
test/profiling.jl
src/WRE2.jl
docs/build/
compilation tests.jl
Stata examples.do

src/debug.jl
test/debug.jl
.vscode/settings.json
src/estimators.jl.11688.mem
src/init.jl.11688.mem
src/plot-CI.jl.11688.mem
src/StrBootTest.jl.11688.mem
*.mem
alloc-profile.pb.gz
*.gz
alloc-profile.pb.gz
alloc-profile.pb.gz
test/tests.jl
